@use '/src/sass/base/variables.scss' as *;

@mixin circle {
    &:before {
        content: '';
        position: absolute;
        top: -25%;
        z-index: -1;
        right: 145px;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main_color;
    }
}

@mixin circlel {
    &:before {
        content: '';
        position: absolute;
        top: -25%;
        z-index: -1;
        // right: 640px;
        left: 2px;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main_color;
    }
}


@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -25%;
        left: 0;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
    }
}